@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif, Verdana;
  background-image: url(../images/background-pastel.png);
}

main {
  width: 95%;
  margin: 0 auto;
}

.top {
  width: 50px;
  height: 50px;
  background-color: #FF006E;
  font-size: 36px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.top a {
  color: #FFF;
}

/* TITULOS */
.titulo2 {
  background-color: #7D47C3;
  margin: 70px 0 25px 0;
  color: #FFF;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  text-decoration: underline;
}

h4 {
  font-size: 26px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

/* MENU DE NAVEGACION */
.navbar {
  padding: 0 50px;
}

header {
  background-color: #FF006E;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 5px;
}
header .menu-mobile {
  display: none;
}
header .logo {
  font-size: 26px;
  user-select: none;
}
header .logo a {
  color: #FFF;
  text-decoration: none;
}
header .logo a span {
  font-family: Pacifico;
  font-size: 36px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header nav ul li {
  color: #FFF;
  font-size: 26px;
  margin: 10px;
}
header nav ul li a {
  color: #FFF;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #FFF;
}
header .menu-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .menu-usuario button {
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  outline: none;
}
header .menu-usuario button:hover {
  background-color: #F04589;
}
header .menu-usuario button:focus, header .menu-usuario button:hover {
  border: 2px solid #FFF;
}
header .menu-usuario .ingresar {
  background-color: #FFF;
  color: #FF006E;
}
header .menu-usuario .ingresar:hover {
  color: #FFF;
}
header .menu-usuario .modal-content {
  background-image: url(../images/background-pastel-2.png);
}
header .menu-usuario .modal-content .modal-header {
  background-color: #FF006E;
}
header .menu-usuario .modal-content .modal-header h5 {
  font-size: 26px;
  font-weight: bold;
  color: #FFF;
}
header .menu-usuario .modal-content .modal-body .username-input {
  margin: 20px 0;
}
header .menu-usuario .modal-content .modal-body .username-input input[type=text] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 18px;
  border: 2px solid #FF006E;
  outline: none;
  background-color: #F1F3F4;
}
header .menu-usuario .modal-content .modal-body .username-input input[type=text]:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
  background-color: #FFF;
}
header .menu-usuario .modal-content .modal-body .password-input {
  margin: 20px 0;
}
header .menu-usuario .modal-content .modal-body .password-input input[type=password] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 18px;
  border: 2px solid #FF006E;
  outline: none;
  background-color: #F1F3F4;
}
header .menu-usuario .modal-content .modal-body .password-input input[type=password]:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
  background-color: #FFF;
}
header .menu-usuario .modal-content .modal-body input[type=submit] {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  padding: 8px;
  background-color: #FF006E;
  color: #FFF;
  border: none;
  border-radius: 5px;
}
header .menu-usuario .modal-content .modal-body input[type=submit]:hover {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
}

/* --------------- ESTILOS DE HTML INDEX ---------------*/
/* BIENVENIDA */
.inicio {
  background-image: url(../images/pastel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}
.inicio .bienvenida h1 {
  font-family: Dancing Script;
  font-size: 76px;
  text-align: center;
  color: #FFF;
}
.inicio .bienvenida h1 span {
  font-family: Pacifico;
  font-size: 96px;
}
.inicio .descripcion {
  margin: 20px;
}
.inicio .descripcion p {
  font-family: Dancing Script;
  font-size: 32px;
  text-align: center;
  color: #FFF;
}
.inicio .btn-ver-productos {
  background-color: transparent;
  padding: 10px;
  margin-top: 50px;
  border: 2px solid #FFF;
  border-radius: 5px;
  font-weight: bold;
}
.inicio .btn-ver-productos a {
  text-decoration: none;
  color: #FFF;
}
.inicio .btn-ver-productos:hover {
  background-color: #FF006E;
}

/* LISTADO DE PRODUCTOS */
.row > * {
  padding: 0;
}

.lista-productos {
  display: flex;
  gap: 15px;
}
.lista-productos .producto {
  width: 360px;
  border-radius: 5px;
  background-image: url(../images/background-pastel-2.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lista-productos .producto h4 {
  font-size: 22px;
}
.lista-productos .producto img {
  width: 360px;
  height: 250px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.lista-productos .producto .detalles-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lista-productos .producto .detalles-producto .nombre-producto {
  color: #FF006E;
  text-decoration: underline;
  margin: 10px 0;
}
.lista-productos .producto .detalles-producto .descripcion-producto {
  margin: 8px 0 15px 0;
  font-size: 22px;
}
.lista-productos .producto .detalles-producto .precio-producto {
  font-weight: bold;
  font-size: 32px;
}
.lista-productos .producto .detalles-producto .aclaraciones-producto ul li {
  font-size: 18px;
  font-weight: bold;
  color: #7e7e7e;
  list-style-position: 0;
}
.lista-productos .producto .btn-pedir {
  width: 100%;
  height: 54px;
  padding: 15px 8px;
  margin-top: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #FF006E;
  color: #FFF;
  font-weight: bold;
  border: none;
  transition: 0.2s ease all;
}
.lista-productos .producto .btn-pedir:hover {
  background-color: #F04589;
  font-size: 18px;
}
.lista-productos .producto .sin-stock {
  background-color: #7e7e7e !important;
  pointer-events: none;
  cursor: default;
}
.lista-productos a {
  width: fit-content;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.lista-productos a .redireccionamiento {
  width: 110px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #FF006E;
  transition: 0.3s ease all;
}
.lista-productos a .redireccionamiento:hover {
  transform: translateX(25px);
}
.lista-productos .modal .modal-header {
  background-color: #FF006E;
}
.lista-productos .modal .modal-header h5 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
}
.lista-productos .modal .modal-body .metodo-pago .metodo-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.lista-productos .modal .modal-body .metodo-pago .metodo-header h4 {
  font-size: 20px;
  margin: 0;
}
.lista-productos .modal .modal-body .metodo-pago .metodo-header img {
  width: auto;
  height: 25px;
}
.lista-productos .modal .modal-body .metodo-pago p {
  font-size: 18px;
  text-align: left;
}
.lista-productos .modal .modal-body .metodo-pago a {
  color: #FFF;
  text-decoration: none;
}
.lista-productos .modal .modal-body .metodo-pago a .btn-pedir {
  width: fit-content;
  padding: 8px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FF006E;
  transition: 0.3s ease all;
}
.lista-productos .modal .modal-body .metodo-pago a .btn-pedir:hover {
  background-color: #F04589;
}
.lista-productos .modal .modal-footer .btn-primary {
  background-color: #FF006E;
  border: none;
}
.lista-productos .modal .modal-footer .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.5);
}

/* FORMAS DE PAGO */
.formas-de-pago {
  width: 100%;
  border-radius: 5px;
  background-image: url(../images/background-pastel-2.png);
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.formas-de-pago img {
  width: 240px;
  height: auto;
}
.formas-de-pago h4 {
  margin-bottom: 20px;
  color: #3A86FF;
  text-decoration: underline;
}
.formas-de-pago p {
  text-align: left;
  margin: 10px 0;
}
.formas-de-pago .separador-contenido {
  width: 2px;
  background-color: #3A86FF;
  margin: 0 20px;
}

/* INFORMACIÓN COMPLEMENTARIA */
.informacion-complementaria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.informacion-complementaria .envios img, .informacion-complementaria .horarios img {
  width: 280px;
  height: 240px;
  border-radius: 5px 0 0 5px;
}
.informacion-complementaria .envios .detalle-envio, .informacion-complementaria .horarios .detalle-envio {
  background-color: #64B96D;
  border-radius: 5px;
  color: #FFF;
  display: flex;
}
.informacion-complementaria .envios .detalle-envio .informacion, .informacion-complementaria .horarios .detalle-envio .informacion {
  width: 200px;
  padding: 20px;
}
.informacion-complementaria .envios .detalle-envio .informacion h4, .informacion-complementaria .horarios .detalle-envio .informacion h4 {
  text-align: center;
}
.informacion-complementaria .envios .detalle-envio .informacion p, .informacion-complementaria .horarios .detalle-envio .informacion p {
  margin: 0;
  font-size: 24px;
}
.informacion-complementaria .horarios .detalle-horarios {
  background-color: #3A86FF;
  border-radius: 5px;
  color: #FFF;
  display: flex;
}
.informacion-complementaria .horarios .detalle-horarios .informacion {
  width: 200px;
  padding: 20px;
  text-align: center;
}
.informacion-complementaria .horarios .detalle-horarios .informacion p {
  margin: 0;
  font-size: 24px;
}

/* PREGUNTAS FRECUENTES */
.accordion-button {
  font-size: 22px;
}
.accordion-button:focus {
  box-shadow: none;
  color: #000;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: rgb(255, 0, 110);
  box-shadow: none;
}
.accordion-button:not(.colapse)::after {
  background-image: url(../images/arrow.png);
}

.accordion-body {
  font-size: 18px;
}

/* --------------- ESTILOS DE HTML PRODUCTOS ---------------*/
.mostrador {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-image: url(../images/background-pastel-3.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}
.mostrador h1 {
  font-size: 76px;
  font-family: Dancing Script;
  font-weight: bold;
  color: #FFF;
  text-align: center;
}
.mostrador .carousel {
  width: 100%;
}
.mostrador .carousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.mostrador .carousel .carousel-item img {
  height: 60vh;
}
.mostrador .carousel .carousel-item .carousel-caption h5 {
  font-family: Pacifico;
  font-size: 36px;
  text-shadow: 2px 0px 0px #FF006E, 0px 2px 0px #FF006E, -2px 0px 0px #FF006E, 0px -2px 0px #FF006E;
}
.mostrador .carousel .carousel-control-next, .mostrador .carousel .carousel-control-prev {
  width: 5%;
}
.mostrador .btn-desplazar {
  background-color: transparent;
  padding: 10px;
  border: 2px solid #FFF;
  border-radius: 5px;
  font-weight: bold;
}
.mostrador .btn-desplazar a {
  text-decoration: none;
  color: #FFF;
}
.mostrador .btn-desplazar:hover {
  background-color: #FF006E;
  border-color: #FFF;
}
.mostrador .btn-desplazar:hover a {
  color: #FFF;
}

.cartelera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cartelera .col {
  margin: 10px;
  flex: none;
}
.cartelera .row > * {
  padding: 0;
}

.cargar-mas {
  font-family: "Raleway", sans-serif, Verdana;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  margin: 20px 0;
  background-color: #FF006E;
  transition: 0.3s ease all;
}
.cargar-mas:hover {
  cursor: pointer;
  background-color: #F04589;
}

/* --------------- ESTILOS DE HTML RESEÑAS ---------------*/
.introduccion-comentar {
  background-image: url(../images/pastel-ovejita.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduccion-comentar .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduccion-comentar .contenido h1 {
  font-family: Dancing Script;
  font-size: 96px;
  text-align: center;
}
.introduccion-comentar .contenido .stars {
  font-size: 36px;
}
.introduccion-comentar .contenido p {
  font-family: Pacifico;
}
.introduccion-comentar .contenido button {
  background-color: transparent;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: bold;
}
.introduccion-comentar .contenido button a {
  text-decoration: none;
  color: #000;
}
.introduccion-comentar .contenido button:hover {
  background-color: #FF006E;
  border-color: #FFF;
}
.introduccion-comentar .contenido button:hover a {
  color: #FFF;
}

.comentarios {
  width: 100%;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comentarios .opinion {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  border-bottom: 5px solid #64B96D;
  background-color: #fff;
}
.comentarios .opinion .nombre-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comentarios .opinion .nombre-usuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comentarios .opinion .nombre-usuario h5 {
  font-size: 24px;
  margin: 0;
}
.comentarios .opinion .opinion-usuario p {
  font-size: 18px;
  text-align: left;
  color: #7e7e7e;
}
.comentarios .opinion .fecha-opinion {
  display: flex;
  justify-content: end;
}
.comentarios .opinion:hover {
  box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.formulario-opinion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-image: url(../images/background-pastel-2.png);
  border-top: 10px solid #FF006E;
}
.formulario-opinion form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.formulario-opinion form input[type=text] {
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 10px;
  font-family: Raleway;
  outline: none;
}
.formulario-opinion form input[type=text]:focus, .formulario-opinion form input[type=text]:hover {
  border: 2px solid #FF006E;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
}
.formulario-opinion form textarea {
  width: 100%;
  max-width: 500px;
  height: 200px;
  padding: 10px;
  font-family: Raleway;
  outline: none;
  resize: none;
}
.formulario-opinion form textarea:focus, .formulario-opinion form textarea:hover {
  border: 2px solid #FF006E;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
}
.formulario-opinion form input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.formulario-opinion form input[type=checkbox]:focus, .formulario-opinion form input[type=checkbox]:hover {
  border: 2px solid #FF006E;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
}
.formulario-opinion form input[type=submit] {
  width: 100px;
  height: 40px;
  background-color: #FF006E;
  color: #FFF;
  outline: none;
  border: none;
}
.formulario-opinion form input[type=submit]:hover {
  border: 2px solid #FF006E;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.2);
}

/* --------------- ESTILOS DE HTML SOBRE MI ---------------*/
.introduccion-sobre-mi {
  width: 100%;
  height: 100vh;
  background-image: url(../images/armando-pastel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduccion-sobre-mi h1 {
  text-align: center;
  font-family: Dancing Script;
  font-size: 96px;
  color: #FF006E;
}
.introduccion-sobre-mi p {
  font-family: Pacifico;
  font-size: 36px;
  color: #FFF;
  margin: 20px;
}
.introduccion-sobre-mi .parrafo-2 {
  color: #000;
}

.sobre-mi {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobre-mi .avatar {
  width: 150px;
  height: 150px;
  background-color: #FF006E;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobre-mi .avatar span {
  color: #FFF;
  font-size: 56px;
  text-align: center;
  font-family: Pacifico;
}
.sobre-mi .informacion-personal {
  width: 100%;
  height: fit-content;
  padding: 60px;
  border-radius: 5px;
  background-image: url(../images/background-pastel-2.png);
  border-bottom: 10px solid #FF006E;
}
.sobre-mi .informacion-personal p {
  margin-top: 10px;
}

/* --------------- ESTILOS DE HTML CONTACTO ---------------*/
.introduccion-contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 50px;
  background-image: url(../images/ingredientes-pastel.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.introduccion-contacto h1 {
  font-family: Dancing Script;
  font-size: 96px;
  color: #FFF;
}
.introduccion-contacto p {
  font-family: Pacifico;
  font-size: 36px;
  color: #FFF;
}
.introduccion-contacto .contactos .red-whatsapp {
  display: flex;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}
.introduccion-contacto .contactos .red-whatsapp .logo {
  z-index: 1;
}
.introduccion-contacto .contactos .red-whatsapp .arroba {
  background-color: #00bb2d;
  border-radius: 25px;
  transform: translateX(-50px);
  transition: 0.3s ease all;
  height: 30px;
}
.introduccion-contacto .contactos .red-whatsapp .arroba a {
  font-size: 9px;
  color: #fff;
}
.introduccion-contacto .contactos .red-whatsapp:hover .arroba {
  padding: 0px 20px 0px 40px;
  transform: translateX(-25px);
}
.introduccion-contacto .contactos .red-whatsapp:hover .arroba a {
  display: inline;
  font-size: 18px;
}
.introduccion-contacto .contactos .red-facebook {
  display: flex;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}
.introduccion-contacto .contactos .red-facebook .logo {
  z-index: 1;
}
.introduccion-contacto .contactos .red-facebook .arroba {
  background-color: #0060D4;
  border-radius: 25px;
  transform: translateX(-50px);
  transition: 0.3s ease all;
  height: 30px;
}
.introduccion-contacto .contactos .red-facebook .arroba a {
  font-size: 9px;
  color: #fff;
}
.introduccion-contacto .contactos .red-facebook:hover .arroba {
  padding: 0px 20px 0px 40px;
  transform: translateX(-25px);
}
.introduccion-contacto .contactos .red-facebook:hover .arroba a {
  display: inline;
  font-size: 18px;
}
.introduccion-contacto .contactos .red-instagram {
  display: flex;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}
.introduccion-contacto .contactos .red-instagram .logo {
  z-index: 1;
}
.introduccion-contacto .contactos .red-instagram .arroba {
  background-color: #ff008f;
  border-radius: 25px;
  transform: translateX(-50px);
  transition: 0.3s ease all;
  height: 30px;
}
.introduccion-contacto .contactos .red-instagram .arroba a {
  font-size: 9px;
  color: #fff;
}
.introduccion-contacto .contactos .red-instagram:hover .arroba {
  padding: 0px 20px 0px 40px;
  transform: translateX(-25px);
}
.introduccion-contacto .contactos .red-instagram:hover .arroba a {
  display: inline;
  font-size: 18px;
}

.formulario-contacto {
  width: fit-content;
  margin: 0 auto;
  background-image: url(../images/background-pastel-2.png);
  padding: 20px;
  border-radius: 5px;
  border-top: 10px solid #64B96D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario-contacto form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.formulario-contacto form label {
  font-size: 24px;
}
.formulario-contacto form label span {
  color: red;
  font-size: 32px;
}
.formulario-contacto form input, .formulario-contacto form textarea {
  width: 300px;
  padding: 5px;
  font-size: 18px;
  outline: none;
}
.formulario-contacto form input:focus, .formulario-contacto form input:hover, .formulario-contacto form textarea:focus, .formulario-contacto form textarea:hover {
  border: 2px solid #64B96D;
  box-shadow: 0 0 0 0.25rem rgba(100, 185, 109, 0.2);
}
.formulario-contacto form textarea {
  resize: none;
}
.formulario-contacto form input[type=submit] {
  background-color: #64B96D;
  color: #FFF;
  border-color: transparent;
  margin: 20px 0;
}

.ubicacion {
  background-image: url(../images/background-pastel-2.png);
  border-top: 10px solid #7D47C3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.ubicacion p {
  font-size: 26px;
  padding-top: 20px;
}
.ubicacion iframe {
  width: 100%;
}

/* FOOTER */
footer {
  width: 100%;
  min-width: fit-content;
  margin-top: 50px;
  background-color: #263144;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .box-footer {
  width: 200px;
  margin: 30px auto;
}
footer .box-footer ul {
  padding: 0;
}
footer .box-footer ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  list-style: none;
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}
footer .box-footer ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .box-footer ul li a:hover {
  text-decoration: underline;
}
footer .box-footer h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #64B96D;
}

/*-------------------- MEDIA QUERIE --------------------*/
/* MENU MOBILE*/
@media screen and (max-width: 992px) {
  h2 {
    text-align: center;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 22px;
  }
  .navbar {
    padding: 0;
  }
  header .menu-mobile {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 50px;
    background-color: #FF006E;
  }
  header .menu-mobile a {
    list-style: none;
    text-decoration: none;
    color: #FFF;
  }
  header .logo {
    display: none;
  }
  header nav {
    background-color: #FF006E;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li {
    padding: 10px;
    width: 100%;
    margin: 0;
    border-radius: 0%;
    border-top: 2px solid #FFF;
  }
  header nav ul .logo {
    display: none;
  }
  header .menu-usuario {
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
  }
  .lista-productos {
    flex-direction: column;
  }
  .informacion-complementaria {
    justify-content: space-between;
    align-items: center;
  }
  .informacion-complementaria .envios .detalle-envio, .informacion-complementaria .envios .detalle-horarios, .informacion-complementaria .horarios .detalle-envio, .informacion-complementaria .horarios .detalle-horarios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 610px) {
  .top {
    bottom: 15px;
    right: 15px;
  }
  .formas-de-pago {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .informacion-complementaria {
    flex-direction: column;
  }
  .informacion-complementaria .envios .detalle-envio, .informacion-complementaria .envios .detalle-horarios, .informacion-complementaria .horarios .detalle-envio, .informacion-complementaria .horarios .detalle-horarios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
  .box-footer ul li {
    justify-content: center;
  }
  /* HTML PRODUCTOS */
  .mostrador {
    height: 80vh;
  }
  .mostrador h1 {
    font-size: 46px;
  }
  .mostrador .carousel .carousel-item img {
    height: 200px;
  }
  /* HTML SOBRE MI */
  .sobre-mi {
    width: 100%;
  }
  .sobre-mi .informacion-personal {
    padding: 40px;
  }
  /* HTML CONTACTO */
  .introduccion-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .introduccion-contacto h1 {
    font-size: 76px;
  }
  .introduccion-contacto p {
    font-size: 32px;
  }
  .introduccion-contacto .red-whatsapp {
    margin-left: 25%;
  }
  .introduccion-contacto .red-whatsapp .arroba {
    padding: 0px 20px 0px 40px;
    transform: translateX(-25px) !important;
  }
  .introduccion-contacto .red-whatsapp .arroba a {
    display: inline;
    font-size: 18px !important;
  }
  .introduccion-contacto .red-facebook {
    margin-left: 25%;
  }
  .introduccion-contacto .red-facebook .arroba {
    padding: 0px 20px 0px 40px;
    transform: translateX(-25px) !important;
  }
  .introduccion-contacto .red-facebook .arroba a {
    display: inline;
    font-size: 18px !important;
  }
  .introduccion-contacto .red-instagram {
    margin-left: 25%;
  }
  .introduccion-contacto .red-instagram .arroba {
    padding: 0px 20px 0px 40px;
    transform: translateX(-25px) !important;
  }
  .introduccion-contacto .red-instagram .arroba a {
    display: inline;
    font-size: 18px !important;
  }
}/*# sourceMappingURL=style.css.map */