@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&family=Josefin+Sans:wght@290&family=Pacifico&family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif, Verdana;
  background-image: url(../images/background-pastel.png);
}

main {
  width: 95%;
  margin: 0 auto;
}

.top {
  width: 50px;
  height: 50px;
  background-color: #FF006E;
  font-size: 36px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.top a {
  color: #FFF;
}

/* TITULOS */
/*h1{
    text-align: center;
    margin-top: 30px;
    font-size: 76px;
    font-weight: bold;
    font-family: Dancing Script;
    color: #FFF;
    text-shadow: 2px  0px 0px $colorPrimario, 0px  2px 0px $colorPrimario, -2px  0px 0px $colorPrimario, 0px -2px 0px $colorPrimario;
    user-select: none;
}*/
h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 70px 0 25px 0;
  margin: 0;
  color: #FF006E;
  text-decoration: underline;
}

h4 {
  font-size: 26px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

/* MENU DE NAVEGACION */
.menu-mobile {
  display: none;
}

header {
  background-color: #FF006E;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 5px;
}
header .logo {
  color: #FFF;
  font-size: 26px;
  user-select: none;
}
header .logo span {
  font-family: Pacifico;
  font-size: 36px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header nav ul li {
  color: #FFF;
  font-size: 26px;
  margin: 10px;
}
header nav ul li a {
  color: #FFF;
  text-decoration: none;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #FFF;
}
header .redes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
}
header .redes ul li {
  color: #FFF;
  font-size: 26px;
}
header .redes ul li a {
  color: #FFF;
  text-decoration: none;
}

/* MENU MOBILE*/
@media screen and (max-width: 992px) {
  h2 {
    text-align: center;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 22px;
  }
  .menu-mobile {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 50px;
    background-color: #FF006E;
  }
  .menu-mobile a {
    list-style: none;
    text-decoration: none;
    color: #FFF;
  }
  header .logo, header .redes {
    display: none;
  }
  header nav {
    background-color: #FF006E;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li {
    padding: 10px;
    width: 100%;
    margin: 0;
    border-radius: 0%;
    border-top: 2px solid #FFF;
  }
  header nav ul .logo {
    display: none;
  }
}
/* --------------- ESTILOS DE HTML INDEX ---------------*/
/* BIENVENIDA */
.inicio {
  background-image: url(../images/pastel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
}
.inicio .bienvenida h1 {
  font-family: Dancing Script;
  font-size: 76px;
  text-align: center;
  color: #FFF;
}
.inicio .bienvenida h1 span {
  font-family: Pacifico;
  font-size: 96px;
}
.inicio .descripcion {
  margin: 20px;
}
.inicio .descripcion p {
  font-family: Dancing Script;
  font-size: 32px;
  text-align: center;
  color: #FFF;
}
.inicio .btn-ver-productos {
  background-color: transparent;
  padding: 10px;
  margin-top: 50px;
  border: solid 2px #FFF;
  border-radius: 5px;
  font-weight: bold;
}
.inicio .btn-ver-productos a {
  text-decoration: none;
  color: #FFF;
}
.inicio .btn-ver-productos:hover {
  background-color: #FF006E;
}

/* LISTADO DE PRODUCTOS */
.row > * {
  padding: 0;
}

.lista-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.lista-productos .producto {
  width: 360px;
  border-radius: 5px;
  background-image: url(../images/background-pastel-2.png);
}
.lista-productos .producto h4 {
  font-size: 22px;
}
.lista-productos .producto img {
  width: 360px;
  height: 220px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.lista-productos .producto .detalles-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.lista-productos .producto .detalles-producto .nombre-producto {
  color: #FF006E;
  text-decoration: underline;
  margin: 10px 0;
}
.lista-productos .producto .detalles-producto .descripcion-producto {
  margin: 8px 0 15px 0;
  font-size: 22px;
}
.lista-productos .producto .detalles-producto .precio-producto {
  font-weight: bold;
  font-size: 32px;
}
.lista-productos .producto .detalles-producto .btn-pedir {
  width: 100%;
  height: 54px;
  padding: 15px 8px;
  margin-top: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #FF006E;
  color: #FFF;
  font-weight: bold;
  border: none;
  transition: 0.2s ease all;
}
.lista-productos .producto .detalles-producto .btn-pedir:hover {
  background-color: #F04589;
  font-size: 18px;
}
.lista-productos .producto .detalles-producto .sin-stock {
  background-color: #7e7e7e !important;
  pointer-events: none;
  cursor: default;
}
.lista-productos a {
  width: fit-content;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.lista-productos a .redireccionamiento {
  width: 110px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #FF006E;
  transition: 0.3s ease all;
}
.lista-productos a .redireccionamiento:hover {
  transform: translateX(25px);
}

/* FORMAS DE PAGO */
.formas-de-pago {
  width: 100%;
  border-radius: 5px;
  background-image: url(../images/background-pastel-2.png);
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.formas-de-pago img {
  width: 240px;
  height: auto;
}
.formas-de-pago h4 {
  margin-bottom: 20px;
  color: #3A86FF;
  text-decoration: underline;
}
.formas-de-pago p {
  text-align: left;
  margin: 10px 0;
}
.formas-de-pago .separador-contenido {
  width: 2px;
  background-color: #3A86FF;
  margin: 0 20px;
}

/* INFORMACIÓN COMPLEMENTARIA */
.informacion-complementaria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.informacion-complementaria .envios img {
  width: 280px;
  height: 240px;
  border-radius: 5px 0 0 5px;
}
.informacion-complementaria .envios .detalle-envio {
  background-color: #64B96D;
  border-radius: 5px;
  color: #FFF;
  display: flex;
}
.informacion-complementaria .envios .detalle-envio .informacion {
  width: 200px;
  padding: 20px;
}
.informacion-complementaria .envios .detalle-envio .informacion h4 {
  text-align: center;
}
.informacion-complementaria .envios .detalle-envio .informacion p {
  margin: 0;
  font-size: 24px;
}
.informacion-complementaria .horarios img {
  width: 280px;
  height: 240px;
  border-radius: 5px 0 0 5px;
}
.informacion-complementaria .horarios .detalle-horarios {
  background-color: #3A86FF;
  border-radius: 5px;
  color: #FFF;
  display: flex;
}
.informacion-complementaria .horarios .detalle-horarios .informacion {
  width: 200px;
  padding: 20px;
  text-align: center;
}
.informacion-complementaria .horarios .detalle-horarios .informacion p {
  margin: 0;
  font-size: 24px;
}

/* PREGUNTAS FRECUENTES */
.accordion-button {
  font-size: 22px;
}
.accordion-button:focus {
  box-shadow: none;
  color: #000;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: rgb(255, 0, 110);
  box-shadow: none;
}
.accordion-button:not(.colapse)::after {
  background-image: url(../images/arrow.png);
}

.accordion-body {
  font-size: 18px;
}

/* FOOTER */
footer {
  width: 100%;
  min-width: fit-content;
  margin-top: 50px;
  background-color: #263144;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .box-footer {
  width: 200px;
  margin: 30px auto;
}
footer .box-footer ul {
  padding: 0;
}
footer .box-footer ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  list-style: none;
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
}
footer .box-footer ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .box-footer ul li a:hover {
  text-decoration: underline;
}
footer .box-footer h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #64B96D;
}

/* --------------- ESTILOS DE HTML PRODUCTOS ---------------*/
.mostrador {
  width: 100%;
  height: fit-content;
  background-image: url(../images/background-pastel-3.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}
.mostrador h1 {
  font-size: 76px;
  font-family: Pacifico;
  color: #FFF;
  text-align: center;
}
.mostrador .carousel {
  width: 60%;
  border: 3px solid #FFF;
  border-radius: 10px;
}
.mostrador .carousel .carousel-inner .carousel-item img {
  width: 60%;
  height: 50vh;
  border-radius: 10px;
}
.mostrador .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-family: Pacifico;
  font-size: 76px;
  text-shadow: 2px 0px 0px #FF006E, 0px 2px 0px #FF006E, -2px 0px 0px #FF006E, 0px -2px 0px #FF006E;
}
.mostrador .btn-desplazar {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border: solid 2px #FFF;
  border-radius: 5px;
  font-weight: bold;
}
.mostrador .btn-desplazar a {
  text-decoration: none;
  color: #FFF;
}
.mostrador .btn-desplazar:hover {
  background-color: #FF006E;
}

.cartelera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cartelera .col {
  margin: 10px;
  flex: none;
}
.cartelera .row > * {
  padding: 0;
}

.cargar-mas {
  font-family: "Raleway", sans-serif, Verdana;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin: 20px 0;
  background-color: #FF006E;
  transition: 0.3s ease all;
}
.cargar-mas:hover {
  cursor: pointer;
  background-color: #F04589;
}

.modal .modal-dialog .modal-content .modal-header h5 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago .metodo-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago .metodo-header h4 {
  font-size: 20px;
  margin: 0;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago .metodo-header img {
  width: auto;
  height: 25px;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago p {
  font-size: 18px;
  text-align: left;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago a {
  color: #FFF;
  text-decoration: none;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago a .btn-pedir {
  width: fit-content;
  padding: 8px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #FF006E;
  transition: 0.3s ease all;
}
.modal .modal-dialog .modal-content .modal-body .metodo-pago a .btn-pedir:hover {
  background-color: #F04589;
}
.modal .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #FF006E;
  border: none;
}
.modal .modal-dialog .modal-content .modal-footer .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 110, 0.5);
}

/* --------------- ESTILOS DE HTML SERVICIOS ---------------*/
.formulario-pedido {
  background-image: url(../images/background-pastel-2.png);
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formulario-pedido h3 {
  font-size: 22px;
  text-decoration: underline;
  text-align: center;
  margin: 20px 0;
  color: #3A86FF;
}
.formulario-pedido form input[type=text], .formulario-pedido form input[type=tel] {
  width: 500px;
  height: 40px;
  padding: 10px;
  font-family: "Raleway", sans-serif, Verdana;
  font-size: 18px;
  font-style: italic;
  outline: none;
  border: 2px solid #3A86FF;
}
.formulario-pedido form input[type=text]:focus, .formulario-pedido form input[type=tel]:focus {
  background-color: #ecf3ff;
}
.formulario-pedido form input[type=submit], .formulario-pedido form input[type=reset] {
  width: 250px;
  height: 40px;
  font-family: "Raleway", sans-serif, Verdana;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #3A86FF;
  color: #FFF;
  cursor: pointer;
  transition: 0.1s ease all;
}
.formulario-pedido form input[type=submit]:hover, .formulario-pedido form input[type=reset]:hover {
  border: 2px solid #3A86FF;
  color: #3A86FF;
  background-color: #FFF;
}
.formulario-pedido form textarea[name=descripcion] {
  width: 500px;
  height: 300px;
  padding: 10px;
  font-family: "Raleway", sans-serif, Verdana;
  font-size: 18px;
  font-style: italic;
  outline: none;
  border: 2px solid #3A86FF;
  resize: none;
}
.formulario-pedido form textarea[name=descripcion]:focus {
  background-color: #ecf3ff;
}

/* --------------- ESTILOS DE HTML SOBRE MI ---------------*/
.sobre-mi {
  width: 550px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sobre-mi .avatar {
  width: 150px;
  height: 150px;
  background-color: #5603AD; /* Luego cambiar por un background-image*/
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}
.sobre-mi .informacion-personal {
  width: 100%;
  height: fit-content;
  padding: 60px;
  border-radius: 5px;
  background-image: url(../images/background-pastel-2.png);
}
.sobre-mi .informacion-personal p {
  margin-top: 10px;
}

/* --------------- ESTILOS DE HTML CONTACTO ---------------*/
.medios-contacto .row > * {
  padding: 0;
}
.medios-contacto p {
  margin: 20px 0;
}
.medios-contacto a {
  text-decoration: underline #FFF;
}
.medios-contacto .fondo-whatsapp, .medios-contacto .fondo-facebook, .medios-contacto .fondo-instagram {
  width: 300px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.medios-contacto .fondo-whatsapp {
  background-image: url(../images/whatsapp.jpg);
}
.medios-contacto .fondo-instagram {
  background-image: url(../images/instagram.jpg);
}
.medios-contacto .fondo-facebook {
  background-image: url(../images/facebook.png);
}
.medios-contacto .whatsapp, .medios-contacto .facebook, .medios-contacto .instagram {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  color: #FFF;
  font-size: 26px;
  font-weight: bold;
}
.medios-contacto .whatsapp {
  background-color: #00bb2d;
  grid-area: whatsapp;
}
.medios-contacto .facebook {
  background-color: #3b5998;
  grid-area: facebook;
}
.medios-contacto .instagram {
  background-color: #ff008f;
  grid-area: instagram;
}

.contactos {
  /*.red-facebook, .red-instagram, .red-whatsapp{
      display: flex;
      width: fit-content;
      align-items: center;
      overflow: hidden;
      .logo{
          z-index: 1;
      }
      .arroba{
          background-color: #0060D4;
          border-radius: 25px;
          transform: translateX(-50px);
          transition: .3s ease all;
          height: 30px;
          a{ 
              display: none;
              color: #fff;
              padding: 15px 0;
          }
      }
      &:hover{
          .arroba{
              padding: 0px 20px 0px 40px;
              transform: translateX(-25px);
              a{
                  display: inline;
                  font-size: 18px;
              }
          }
      }
  }*/
}
.contactos .red-whatsapp {
  display: flex;
  margin: 20px;
  width: fit-content;
  align-items: center;
  overflow: hidden;
}
.contactos .red-whatsapp .logo {
  z-index: 1;
}
.contactos .red-whatsapp .arroba {
  background-color: #00bb2d;
  border-radius: 25px;
  transform: translateX(-50px);
  transition: 0.3s ease all;
  height: 30px;
}
.contactos .red-whatsapp .arroba a {
  font-size: 9px;
  color: #fff;
  padding: 15px 0;
}
.contactos .red-whatsapp:hover .arroba {
  padding: 0px 20px 0px 40px;
  transform: translateX(-25px);
}
.contactos .red-whatsapp:hover .arroba a {
  display: inline;
  font-size: 18px;
}
.contactos .red-facebook {
  display: flex;
  margin: 20px;
  width: fit-content;
  align-items: center;
  overflow: hidden;
}
.contactos .red-facebook .logo {
  z-index: 1;
}
.contactos .red-facebook .arroba {
  background-color: #0060D4;
  border-radius: 25px;
  transform: translateX(-50px);
  transition: 0.3s ease all;
  height: 30px;
}
.contactos .red-facebook .arroba a {
  font-size: 9px;
  color: #fff;
  padding: 15px 0;
}
.contactos .red-facebook:hover .arroba {
  padding: 0px 20px 0px 40px;
  transform: translateX(-25px);
}
.contactos .red-facebook:hover .arroba a {
  display: inline;
  font-size: 18px;
}
.contactos .red-instagram {
  display: flex;
  margin: 20px;
  width: fit-content;
  align-items: center;
  overflow: hidden;
}
.contactos .red-instagram .logo {
  z-index: 1;
}
.contactos .red-instagram .arroba {
  background-color: #ff008f;
  border-radius: 25px;
  transform: translateX(-50px);
  transition: 0.3s ease all;
  height: 30px;
}
.contactos .red-instagram .arroba a {
  font-size: 9px;
  color: #fff;
  padding: 15px 0;
}
.contactos .red-instagram:hover .arroba {
  padding: 0px 20px 0px 40px;
  transform: translateX(-25px);
}
.contactos .red-instagram:hover .arroba a {
  display: inline;
  font-size: 18px;
}

/*-------------------- MEDIA QUERIE --------------------*/
@media screen and (max-width: 992px) {
  .lista-productos {
    flex-direction: column;
  }
  .informacion-complementaria {
    justify-content: space-between;
    align-items: center;
  }
  .informacion-complementaria .envios .detalle-envio, .informacion-complementaria .envios .detalle-horarios, .informacion-complementaria .horarios .detalle-envio, .informacion-complementaria .horarios .detalle-horarios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 610px) {
  .top {
    bottom: 15px;
    right: 15px;
  }
  .formas-de-pago {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .informacion-complementaria {
    flex-direction: column;
  }
  .informacion-complementaria .envios .detalle-envio, .informacion-complementaria .envios .detalle-horarios, .informacion-complementaria .horarios .detalle-envio, .informacion-complementaria .horarios .detalle-horarios {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
  .box-footer ul li {
    justify-content: center;
  }
  /* HTML PRODUCTOS */
  .mostrador {
    height: 100vh;
  }
  .mostrador h1 {
    font-size: 46px;
  }
  .mostrador .carousel {
    width: 80%;
  }
  .mostrador .carousel .carousel-inner .carousel-item img {
    height: 30vh;
  }
  /* HTML SERVICIOS */
  .formulario-pedido {
    width: 100%;
  }
  .formulario-pedido form {
    grid-template-columns: auto;
    grid-template-rows: 35px 35px 35px 35px 300px 35px 35px;
    grid-template-areas: "nombre" "telefono" "direccion" "presupuesto" "descripcion" "submit" "reset";
  }
  /* HTML SOBRE MI */
  .sobre-mi {
    width: 100%;
  }
  .sobre-mi .informacion-personal {
    padding: 40px;
  }
  /* HTML CONTACTO */
  .medios-contacto {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */