/* --------------- ESTILOS DE HTML PRODUCTOS ---------------*/
.mostrador{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-image: url(../images/background-pastel-3.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    h1{
        font-size: 76px;
        font-family: Dancing Script;
        font-weight: bold;
        color: #FFF;
        text-align: center;
    }
    .carousel{
        width: 100%;
        .carousel-indicators [data-bs-target]{
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        .carousel-item{
            img{
                height: 60vh;
            }
            .carousel-caption{
                h5{
                    font-family: Pacifico;
                    font-size: 36px;
                    text-shadow: 2px  0px 0px $colorPrimario, 0px  2px 0px $colorPrimario, -2px  0px 0px $colorPrimario, 0px -2px 0px $colorPrimario;
                }
            }
        }
        .carousel-control-next, .carousel-control-prev{
            width: 5%;
        }
    }
    .btn-desplazar{
        @include btn-desplazar(#FFF, #FFF);
    }
}
.cartelera{
    @include flex-column-center;
    overflow: hidden;
    .col{
        margin: 10px;
        flex: none;
    }
    .row > *{
        padding: 0;
    }
}
.cargar-mas{
    font-family: 'Raleway', sans-serif, Verdana;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin: 20px 0;
    background-color: $colorPrimario;
    transition: .3s ease all;
    &:hover{
        cursor: pointer;
        background-color: $colorHover;
    }
}

.carrito-icono{
    width: 50px;
    height: 50px;
    background-color: $colorPrimario;
    font-size: 36px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 5;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    color: #fff;
    .carrito-cantidad-articulos{
        width: 25px;
        height: 25px;
        position: absolute;
        top: -20%;
        right: -20%;
        font-size: 16px;
        font-weight: bold;
        background-color: red;
        border-radius: 50%;
        text-align: center;
        display: none;
    }
}
.carrito-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    .carrito-compras{
        overflow: auto;
        z-index: 9;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 60vw;
        max-height: 90vh;
        background-color: #fff;
        border: 2px solid $colorPrimario;
        border-radius: 5px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .carrito-head{
            width: 100%;
            background-color: $colorPrimario;
            color: #fff;
            border-radius: 2px 2px 0 0;
            padding: 5px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h5{
                text-align: center;
                font-size: 28px;
            }
            button{
                width: 30px;
                height: 30px;
                font-size: 20px;
                font-weight: bolder;
                border: none;
                border-radius: 50%;
                &:hover{
                    color: $colorPrimario;
                }
            }
        }
        .carrito-content{
            padding: 40px;
            ul{
                list-style: none;
                padding: 0;
                li{
                    .producto-deseado{
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        background-color: #f7f7f7;
                        border-radius: 5px;
                        margin: 10px 0;
                        .producto-img{
                            img{
                                width: 180px;
                                height: 80px;
                                border-radius: 5px;
                            }
                        }
                        .producto-detalles{
                            h5{
                                font-weight: bold;
                            }
                        }
                        .producto-cantidad{
                            display: flex;
                            flex-wrap: nowrap;
                            button{
                                border: none;
                                border-radius: 5px;
                                width: 30px;
                            }
                            input{
                                width: 80px;
                                outline: none;
                                text-align: center;
                            }
                        }
                        .producto-subtotal{
                            font-weight: bold;
                        }
                    }
                }
                .btn-vaciar-carrito{
                    width: 100%;
                    background-color: #fff;
                    border: 2px solid $colorPrimario;
                    border-radius: 5px;
                    padding: 10px;
                    color: $colorPrimario;
                    font-weight: bold;
                    transition: .3s all;
                    margin: 5px 0;
                    &:hover{
                        background-color: $colorPrimario;
                        color: #fff;
                    }
                }
                .total{
                    width: 100%;
                    background-color: $colorPrimario;
                    border: 2px solid $colorPrimario;
                    border-radius: 5px;
                    padding: 10px;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    transition: .3s all;
                    margin: 5px 0;
                }
            }
        }
    }
}
@each $tipo, $color in $tiposAlerts{
    .#{$tipo}-alert{
        max-width: 400px;
        background-color: #f7f7f7;
        box-shadow: 0 7px 11px 0 rgb(0 0 0 / 10%), 0 2px 4px 0 rgb(0 0 0 / 10%);
        position: fixed;
        right: 10px;
        padding: 15px 10px;
        border-radius: 5px;
        font-size: 26px;
        z-index: 2;
        transform: translateX(450px);
        animation: 4s MostrarAlert;
        span{
            color: $color;
        }
    }
}
@keyframes MostrarAlert{
    0%{
        transform: translateX(450px);
    }
    10%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(0px);
    }
}